  <template>
  <div class="slider" :class="{ close: popupHide}">
    <!--'slider-errors': !computedPropsMessageDisplayIsSuccess,-->
    <article class="message" :class="messageClass">
      <div class="message-header">
        <p>{{ computedTitleMessageDisplay }}</p>
      </div>
      <div v-if="computedPropsMessageDisplayIsSuccess" class="message-body">
        Changement sauvergardé
      </div>
      <div v-else class="message-body">
        <p v-for="n in Object.keys(propsMessageSuccessError)">
          {{ propsMessageSuccessError[n] }}
        </p>
      </div>
    </article>
  </div>
</template>

<script>

  export default {
    props: {
      propsPopupHide: Boolean,
      propsMessageClass: {
        type: String,
        default: '',
      },
      propsMessageSuccessError: {
        type: Object,
        default() {
          return {};
        },
      },
    },
    data() {
      return {
        popupHide: true,
        messageClass: '',
        messageSuccesError: {},
      };
    },
    computed: {
      computedPropsMessageDisplayIsSuccess() {
        return this.methodCheckPropsMessageClassIsSuccess();
      },
      computedTitleMessageDisplay() {
        return this.methodCheckPropsMessageClassIsSuccess() ? 'Succès' : 'Erreur';
      },
    },
    methods: {
      methodCheckPropsMessageClassIsSuccess() {
        return this.messageClass === 'is-success';
      },
    },
    watch: {
      propsPopupHide(val) {
        this.popupHide = val;
      },
      propsMessageClass(val) {
        this.messageClass = val;
      },
      propsMessageSuccessError(val) {
        this.messageSuccesError = val;
      },
    },
  };
</script>

<style>
  .slider {
    position: fixed;
    width: 20vw;
    height: 13vh;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transition: all 1s;
    margin: 10px;
    z-index: 1000;
  }
  .slider-errors {
    position: fixed;
    width: 20vw;
    height: 20vh;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transition: all 1s;
    margin: 10px;
    z-index: 1000;
  }

  .slider.close {
    bottom: 0vh;
    height: 0;
    transition: all 1s;
  }
</style>
